exportPattern("^[[:alpha:]]+")
import(sciplot)
import(mvtnorm)
import(abind)
import(psych)
import(foreach)
S3method(diffPlot,default)
S3method(diffPlot,formula)
S3method(tContrast,default)
S3method(tContrast,formula)
S3method(yuenContrast,default)
S3method(yuenContrast,formula)
S3method(print,lensMod)
S3method(print,q.cor)

